
@font-face {
    font-family: myFirstFont;
    src: url("HUMANOIDSTRAIGHT.TTF") format("truetype");
}

body {
    text-align: center;
    
}

h1 {
    font-family: 'myFirstFont';
    font-size: 450%;
    margin: 0.2em;
    font-weight: 200;
    text-shadow: 3px 3px 0px lightyellow;

}

h2 {
    margin: 1em 0 0.25em;
    font-family: 'myFirstFont';
    font-size: 200%;
    text-shadow: 1.5px 1.5px 0px lightyellow;
}

h2:first-of-type {
    margin-top: 0.5em;
}

h3 {
    margin: 1em 0 0.25em;
    font-family: 'myFirstFont';
    font-size: 150%;
    text-shadow: 1px 1px 0px lightyellow;
}


table,
tr,
td {
    border: 3px double black;
    padding: 14px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

.init {
    background-color: white;
}

.navbar {
    background-color: black;
}

#videobcg { 
     position: absolute;
     top: 0px;
     left: 0px;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -1000;
     overflow: hidden;
}
 

/*.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('http://dev2.slicejack.com/fullscreen-video-demo/img/videoframe.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}

https://codepedia.info/convert-html-to-image-in-jquery-div-or-table-to-jpg-png/

